body {
   font-family: 'Roboto', sans-serif;
   color: #333;
}

img {
   max-width: 100%;
   height: auto;
}

* {
   box-sizing: border-box; /* padding is applied but wont effect 100% width calulation in table layouts */
}

a {
   color: $mainOrange;
}
